---
import type { PokemonDetail } from '../types/Pokemon';

const { id } = Astro.params;
const response = await fetch(`https://pokeapi.deno.dev/pokemon/${id}`);
const pokemon = (await response.json()) as PokemonDetail;
---

<main
  class="full-size"
  id={`${pokemon.id}`}
  style={{ backgroundColor: pokemon.color }}
>
  <img class="full-size-image" src={pokemon.imageUrl} alt={pokemon.name} />
</main>

<style>
  main {
    height: 100%;
    display: grid;
    place-items: center;
  }
</style>
