<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>View Transitions API Demo</title>
    <script>
      import '../scripts/navigate';
    </script>
  </head>
  <body id="content">
    <slot />
  </body>
</html>

<style is:global>
  html {
    height: 100%;
  }

  body {
    height: 100%;
    margin: 0;
  }

  .full-screen {
    view-transition-name: full-screen;
    contain: layout;
  }

  .full-screen-image {
    view-transition-name: full-screen-image;
    contain: layout;
  }
</style>
